<style>
  td {
    border-right: 1px solid black;
  }
</style>
<table>
  <thead>
  <tr>
    <th>Username</th>
    <th>Followers</th>
    <th>Following</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @user.username %></td>
      <td></td>
      <td><%= @user.following.map { |following| following['email'].split('@')[0].capitalize }.join(' ') %></td>
      <% if current_user[:id] != @user.id %>
        <td><%= link_to 'Follow user', "/users/#{@user.id}/follow", method: :post%></td>
        <td><%= link_to 'Unfollow user', "/users/#{@user[:id]}/unfollow", method: :delete %></td>
    <% end %>
    </tr>
  </tbody>
</table>
